################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OOP Task 1a/v16
/.vs/OOP-Task-1A/v16
/.vs
/Debug
/x64/Debug
/raylib
/OOP Task 1a/Debug/
/OOP Task 1a/Debug/x64